<% content_for :header do %>
  <div id="menu" class="grid_8 omega">
    <ul id="nav">
        <li><%= link_to "Galerie", admin_galleries_path, :class=>"active"%></li>
    </ul>
  </div>  
<%end%>

<dic id="galleries">
  <ul>
    <% @galleries.each do |g| %>
    <li><%= link_to image_tag(g.photo(:medium)), admin_gallery_path(g) %>
    <%= link_to image_tag("/assets/remove.png"), admin_gallery_path(g), :method=>:delete, :confirm=>"Czy jesteś pewien że chcesz usunąć galerie ?", :class => "remove-photo" %>
      </li>
    <% end %>
    <li class="add-photo">
      <%= link_to image_tag("/assets/add.png"),  new_admin_gallery_path, :method => "get"%>
    </li>
  </ul>
  <div style="clear: both; height: 20px;"></div>
</div>
