<% content_for :header do %>
  <div id="menu" class="grid_8 omega">
    <ul id="nav">
      <li><%= link_to "Kontakt", about_page_path%></li>
      <li><%= link_to "Galerie", galleries_path, :class => "active"%></li>
    </ul>
  </div>
<%end%>
