<% content_for :sidebar do %>
  <div id="menu">
    <%= link_to "portfolio", galleries_path, class:"smaller" %>
    <%= link_to "kontakt", about_page_path, class:"smaller" %>
    <%= image_tag "logo1.png"%>
    <p>fotostudio</p>
  </div>
<%end%>

<br/>
email: m.cywoniuk@gmail.com
<br/>
kom: 507 818 367
