<% content_for :sidebar do %>
  <div id="menu">
    <%= link_to "portfolio", galleries_path %>
    <%= link_to "kontakt", about_page_path %>
    <%= image_tag "logo.png"%>
    <p>fotostudio</p>
  </div>
<%end%>
