<footer>
  <section class="container">
    <p id="legal">All Rights Reserved. Copyright © 2011. --- Michał Cywoniuk</p>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f85e6576b31bcee"></script>
    <!-- AddThis Button END -->
  </section>
</footer>
