<footer>
  <section class="container">
    <p id="legal">All Rights Reserved. Copyright © 2011. --- Michał Cywoniuk</p>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style" addthis:url="www.mcfotocywoniuk.pl">
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:count="false"></a>
    <a class="addthis_button_tweet" tw:count="none" tw:via="mcfotocywoniuk"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f39297c4ee83020"></script>
    <!-- AddThis Button END -->
  </section>
</footer>
