<footer>
  <section class="container">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style" addthis:url="www.mcfotostudio.pl">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f9d4582030b1b6b"></script>
    <!-- AddThis Button END -->
    <br/>
    <p id="legal">All Rights Reserved. Copyright © 2011. --- Michał Cywoniuk</p>
  </section>
</footer>
