<% content_for :header do %>
  <div id="menu" class="grid_8 omega">
    <ul id="nav">
        <li><%= link_to "Galerie", admin_galleries_path%></li>
        <li><%= link_to "Kontakt", admin_galleries_path%></li>
    </ul>
  </div>  
<%end%>
