/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

header {
  height: 75px;
}

header section, section.main, footer section {
  margin: 0 auto;
  width: 1020px;
}

section.main {
  position: relative;
  width: 1000px;
  min-height: 550px;
  background-color: #C5C5C5;
  background-image: url('main-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  line-height: normal;
}

ul li {
  list-style: none;
  float: left;
  display: block;
  margin: 20px 10px 0 10px;
}

#user_nav {
  float: left;
}

#user_nav a {
  text-decoration: none;
  padding-left: 5px;
}
