/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.galleryview-3.0-dev
 *= require_tree .
*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

header {
  background-color: #282323;
  background-image: url("header-bg.png");
  border-bottom: 1px solid black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
  color: #CCCCCC;
  height: 26px;
  left: 0;
  padding: 6px 0;
  top: 0;
  width: 100%;
  z-index: 1001;
}

header section, section.main, footer section {
  margin: 0 auto;
  width: 1020px;
}

section.main {
  width: 1000px;
  min-height: 465px;
  background-repeat: no-repeat;
  line-height: normal;
  background-color: #FBFBFB;
  color: #231E1E;
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EAEAEA #EAEAEA -moz-use-text-color;
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  box-shadow: 0 1px 3px #CCCCCC;
  display: block;
  overflow: hidden;
  padding: 10px;
  margin: 40px auto;
}

ul {
  margin: 0;
}

ul li {
  list-style: none;
  float: left;
  display: block;
  overflow: hidden;
  margin: 20px 10px 0 10px;
}

#nav li {
  margin: 5px 10px 0 10px;
  float: right;
}

#nav li a {
  color: #D2D2D2;
  padding-bottom: 3px;
  text-decoration: none;
  text-shadow: 0 1px 1px #000000;
}

#user_nav {
  float: left;
}

#user_nav a {
  text-decoration: none;
  padding-left: 5px;
  color: #D2D2D2;
}

.infobox{
	float: left;
	position: relative;
	top: 10px;
	height: 40px;
	width: 100%;
	background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: #fff;
  font: 10px/15px Arial, Helvetica, sans-serif;
  color: white;
}

.infobox h4, .infobox span {
	padding: 3px 0 0 10px;
	margin: 0;
}

.infobox h4 {
  font-size: 13px;
  font-weight: bold;
}

#menu {
  height: 25px; 
}

.bwWrapper { 
  position:relative; 
  display:block; 
}

/* Footer */

footer {
  width: 100%;
  bottom: 0;
  clear: both;
  position: relative;
}

footer .container {
  border-top: 1px solid #DDDDDD;
  margin-top: 4em;
  padding: 0.5em 0 0;
}

footer section {
	margin: 0 auto;
	color: #757E82;
}

#legal {
	margin: 10px 0 30px 0;
	font-size: 11px;
  text-align: left;
  float: left;
  width: 500px;
}

.addthis_toolbox {
  width: 144px;
  float: right;
}

.gv_showOverlay, .gv_overlay {
  background: rgb(0, 0, 0) transparent !important;
  background: rgba(0, 0, 0, 0.6) !important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)" !important;
}

.gv_showOverlay {
  background-image: url("themes/light/info.png") !important;
}
