#galleries {
  width: 100%;
}

#galleries ul {
  margin: 0;
  height: auto;
  padding-left: 0px;
}

#galleries ul li {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

#galleries ul li a {
  width: 300px;
  height: 200px;
}

.remove-photo {
  position: relative;
  top: -195px;
  left: 260px;
  padding: 6px;
  width: 24px;
  height: 24px;
  display: none;
}

#image-list .remove-photo {
  top: -72px;
  left: 80px;
}

.add-photo {
  border: 1px solid #272729;
}

#gallery-form,
#gallery-info {
  height: 550px;
  width: 350px;
  padding: 25px;
  color: #272729;
  font-size: 14px;
  float: left;
}

#gallery-info {
  border-right: 1px dotted #272729;
}

#gallery-form p,
#gallery-info p {
  font-weight: 700;
  font-size: 16px;
  display: inline;
}

label {
  width: 100px;
}

#add-new-image {
  border-top: 1px dotted #272729;
  margin: 15px 0 0 -25px;
  width: 400px;
  padding: 20px 0;
}

#add-new-image form{
  padding: 0 25px;
}

#gallery_image_title,
#gallery_image_description {
  width: 298px;
}

#gallery_image_photo {
  margin-left: -22px;
}

.center {
  margin: auto;
  width: 70px;
  display: block;
  float: none;
}

#image-list {
  float: left;
  width: 599px;
  position: relative;
}

.clear { 
  clear: both;
}

#image-list ul {
  display: block;
}

#image-list ul li {
  width: 114px !important;
  height: 75px !important;
}

#gallery {height:510px}

.galleria-info-text {
  background: none repeat scroll 0 0 #222222;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
  color: white;
  position: absolute;
  z-index: 200;
  width: 980px !important;
  left: -14px !important;
  bottom: -46px;
}

.galleria-info-close {
  left: 960px;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
}

.galleries-controller.show-action .main {
  background-color: #000 !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 60px;
}
